<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "landing/favicon.html" %}
    <link rel="stylesheet" href="./../static/css/style.css">
    <title>Media Mine</title>
</head>
<body>
    {% include "landing/nav.html" %}

    <div id="center">
        <h1 id="title">Books</h1>
        <p id="title-desc">
            Select quiz length and get personalized book suggestions!
        </p>

        <div id="quiz_select">

            {% for entry in data %}
            <div class="quiz_entry">
                <img src="media/{{ entry.image_filepath }}">
                <div class="quiz_info">
                    <h3 class="quiz_title">{{ entry.title }}</h3>
                    <p class="quiz_desc">
                        {{ entry.description }}
                    </p>
                    <h6 class="quiz_duration">{{ entry.duration }} min</h6>
                    <button class="quiz_start" onclick="location.href='/picks?quiz_id={{ entry.id }}'">Start Quiz</button>
                </div>
            </div>
            {% endfor %}

            <span id="quiz-spacer">.</span>
        </div>
    </div>
</body>
</html>