<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "landing/favicon.html" %}
    <link rel="stylesheet" href="./../static/css/style.css">
    <title>Media Mine</title>
</head>
<body>
    {% include "landing/nav.html" %}

    <div id="center">
        <h1 id="title">Movies</h1>
        <p id="title-desc">
            Select quiz length and get personalized movie suggestions!
        </p>

        <div id="quiz_select">

            <div class="quiz_entry">
                <img src="">
            </div>

        </div>
    </div>
</body>
</html>