<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "landing/favicon.html" %}
    <link rel="stylesheet" href="./../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <title>Media Mine</title>
</head>
<body>
    {% include "landing/nav.html" %}

    <div id="center">
        <h1 id="title">Movies</h1>
        <p id="title-desc">
            Select quiz length and get personalized movie suggestions!
        </p>

        <div id="quiz_select">

            <div class="quiz_entry">
                <img src="https://wallpaperaccess.com/full/4240393.jpg">
                <div class="quiz_info">
                    <h3 class="quiz_title">Quick Picks</h3>
                    <p class="quiz_desc">
                        Short and simple quit to get immediate suggestions.
                    </p>
                    <h6 class="quiz_duration">5 min</h6>
                    <button class="quiz_start">Start Quiz</button>
                </div>
            </div>

            <div class="quiz_entry">
                <img src="https://wallpaperaccess.com/full/4240393.jpg">
                <div class="quiz_info">
                    <h3 class="quiz_title">Quick Picks</h3>
                    <p class="quiz_desc">
                        Short and simple quit to get immediate suggestions.
                    </p>
                    <h6 class="quiz_duration">5 min</h6>
                    <button class="quiz_start">Start Quiz</button>
                </div>
            </div>

            <div class="quiz_entry">
                <img src="https://wallpaperaccess.com/full/4240393.jpg">
                <div class="quiz_info">
                    <h3 class="quiz_title">Quick Picks</h3>
                    <p class="quiz_desc">
                        Short and simple quit to get immediate suggestions.
                    </p>
                    <h6 class="quiz_duration">5 min</h6>
                    <button class="quiz_start">Start Quiz</button>
                </div>
            </div>

            <span id="quiz-spacer">.</span>
        </div>
    </div>

    <!-- Scripts  -->
    <!-- <script src="./../../static/js/height.js"></script> -->
</body>
</html>