<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "landing/favicon.html" %}
    <link rel="stylesheet" href="./../static/css/account_base.css">
    <title>Media Mine</title>
</head>
<body>
    {% include "landing/nav.html" %}

    <div id="center">
        <div class="signup-block">
            <div class="inputs">
            <button class="su-bt" onclick="location.href='/logout_action'">Log Out</button>
            </div>
        </div>
    </div>
</body>
</html>