<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "landing/favicon.html" %}
    <link rel="stylesheet" href="./../static/css/landing.css">
    <title>Media Mine</title>
</head>
<body>
    {% include "landing/nav.html" %}

    <div id="center">
        <h1 id="title">Media Mine</h1>
        <p id="title-desc">
            Pick a category, take a short or long quiz, and get personalized recommendations. Now, start digging for your next obsession!
        </p>
        <h3 id="sug-title">Popular Picks</h2>
        <div id="sug">

            <div class="sug-entry" onclick="window.open('https://myanimelist.net/anime/36098/Kimi_no_Suizou_wo_Tabetai','_blank')">
                <img src="https://m.media-amazon.com/images/M/MV5BNDM4MWE3NGQtODlkYS00NWU5LTg3ZjMtMTEyNjljOWI4NWIxXkEyXkFqcGdeQXVyNzkzODk2Mzc@._V1_.jpg">
                <h4 class="sug-title">I Want to eat your Pancreas</h4>
                <p class="sug-det">1 hr. 48min. | PG - 13</p>
                <p class="sug-desc">Released September 1st, 2018</p>
            </div>
            <div class="sug-entry" onclick="window.open('https://www.youtube.com/watch?v=k1LdRhcZYCY','_blank')">
                <img src="https://lh3.googleusercontent.com/raHjYvPiJSqZwofumtvDbGMasJBckmY4dme2XsW1fRPJysCxT1LTTo81NiLgDK5itT0H-50Kn1HIS5Q=w544-h544-l90-rj">
                <h4 class="sug-title">Bluish Light</h4>
                <p class="sug-det">Single |  MSR, 陳雪燃, Matthew Earl</p>
                <p class="sug-desc">Released May 3rd, 2022</p>
            </div>
            <div class="sug-entry" onclick="window.open('https://myanimelist.net/manga/126479/Mikkakan_no_Koufuku?q=three%20days%20of%20hap&cat=manga', '_blank')">
                <img src="https://kbimages1-a.akamaihd.net/5f2a2246-56f6-4a49-950b-039f2d595e25/1200/1200/False/three-days-of-happiness.jpg">
                <h4 class="sug-title">Three Days of Happiness</h4>
                <p class="sug-det">15 Chapters | Sugaru Miaki</p>
                <p class="sug-desc">Released December 25th, 2013</p>
            </div>

        </div>
    </div>

</body>
</html>