<link rel="stylesheet" href="./../static/css/nav.css">
{% load static %}
<!-- Nav Start -->

<div id="nav-base">
    <img src="{% static 'logo.png' %}">
    <div class="nav-button" onclick="location.href='/'">Home</div>
    <div class="nav-button" onclick="location.href='/login'">Account</div>
    <div class="nav-button" onclick="location.href='/movies'">Movies</div>
    <div class="nav-button" onclick="location.href='/music'">Music</div>
    <div class="nav-button" onclick="location.href='/books'">Books</div>

    <h6 id="mm-cc">&copy; 2022 Media Mine, Inc.</h6>
</div>

<!-- Nav End -->
